*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: #eef0f8;
    display: grid;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    place-items: center;
    min-height: 100vh;
}

.container{
    background-color: #fff;
    width: 500px;
    height: 450px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    line-height: 1.5;
    box-shadow: 1px 20px 30px rgba(0, 0, 0, 0.185);

}

.container::after{
    content: "";
    position: absolute;
    background-image: linear-gradient(to bottom right , #ff9ec4 , #7effbe);
    width: 800px;
    height: 700px;
    z-index: -1;
    border-radius: 50%;

}

.container-close{
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: #fff;
    height: 50px;
    width: 50px;
    display: grid;
    place-items: center;
    font-size: larger;
    color: black;
    border-radius: 50%;
    box-shadow: 0 5px 10px black;
    cursor: pointer;

}

img{
    width:200px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 5%;
}

.container-text{
     padding: 10px 40px 10px 10px;
}

h2{
    font-size: larger;
    color: #1a2350;
    place-items: center ;

}

p{
    font-size: 14px;
    color: #3b4169;
    margin-top: 5px;
    margin-bottom: 5px;
}

input, button{
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 4px;
}

input{
    border: 2px solid #daddec;
    margin-top: 5px 0 10px;
    font-size: small;
    color: #1a2350;
}

input:hover{
    background-image: linear-gradient(to bottom right , #ff9ec4 , #ffc37e);
}

button{
    background-image: linear-gradient(to bottom right , #ff9ec4 , #ffc37e);
    display: block;
    text-align: center;
    color: #fff ;
    font-size: large;
    cursor: pointer;
    box-shadow: 0 3px 5px #1a2350;
    margin-bottom: 5px;
    margin-top: 5px;
}

span{
    display: block;
    text-align: center;
    color: #74798d;
    font-size: 14px;
    margin: 20px 0 0;
}
