*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

div{
    color: aliceblue;
    padding: 50px;
}

h2{
    text-align: center;
    margin-left: 580px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 40px;
    color: cornsilk;
    background-color: crimson;
    border-radius: 30px;
    width: fit-content;
}

h2:hover{
    color: rgb(187, 93, 112);
    background-color: rgb(181, 216, 38);
  
}

p{
    font-size: 28px;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

::-webkit-scrollbar
{
  width: 15px;
}


::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,rgb(15, 212, 28),yellow ,red );
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent,rgb(173, 38, 137),rgb(45, 158, 199) ,rgb(219, 125, 30) );
    border-radius: 5px;
}